<h1>SignUp Page</h1>
<%= form_with scope: :signup, url: articles_path, local: true do |form| %>
<p>
    <%= form.label :UserName%><br>
    <%= form.text_field :UserName %>
  </p>

  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :Email %>
  </p>
 
  <p>
    <%= form.label :Password%><br>
    <%= form.text_field :Password %>
  </p>
 <p>
    <%= form.label :ConfirmPassword%><br>
    <%= form.text_field :ConfirmPassword %>
  </p>
  <p class="button">
    <%= form.submit %>
  </p>
<% end %>